body{
	display: flex;
	justify-content: center;
}
.button{
	margin-top: 100px;
	border: 1px solid #000;
	height: 20px;
	width: 50px;
	display: block;
	text-decoration: none;
	text-align: center;
	border-radius: 10px;
	color: red;
}
.button:hover{
	color: white;
	background-color: red;
	transition: all ease 1s;
}
#slider{
	width: 795px;
	height: 256px;
	border: 3px solid #000;
	margin: 10px;
	overflow: hidden;
}
#polosa{
	width: 1820px;
	background-color: pink;
	position: relative;
	left: 0;
	transition: all ease 1s
}